<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lawenlerk.jotcash">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.lawenlerk.jotcash.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.lawenlerk.jotcash.provider.EntriesProvider"
            android:authorities="com.lawenlerk.jotcash.provider"></provider>

        <activity
            android:name="com.lawenlerk.jotcash.RecordActivity"
            android:label="@string/add_a_transaction"
            android:parentActivityName="com.lawenlerk.jotcash.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>
